<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.text-center{
  font-family:fantasy;


=======
=======
>>>>>>> 7b8e6caee4ab9b8118a74d2785933b92cb6e201a
=======
>>>>>>> 7b8e6caee4ab9b8118a74d2785933b92cb6e201a
h1{color: blue;}
body{
  background-color: yellow;
}
p{
  font-size:100px;
  color:green;
  font-style: oblique;
}

.left{
  length: 20px;
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 7b8e6caee4ab9b8118a74d2785933b92cb6e201a
=======
>>>>>>> 7b8e6caee4ab9b8118a74d2785933b92cb6e201a
=======
>>>>>>> 7b8e6caee4ab9b8118a74d2785933b92cb6e201a
}
=======

>>>>>>> c3750bcbe0dbcd69c9abd7228b2282f30a3c0bac
