.title{
text-align: center;
font-size: 500%;
font-family: "cambria";
text-shadow: 2px 2px;
}
 .signup {


}
.bgi{
  background-image:url("background.jpg");
}

  .bg2{
    background-image: url("images.jpg");
  }
